@model IEnumerable<SOAC_RKU.Models.Sports>
@{
    ViewData["Title"] = "EventsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin: 150px">
    <table class="table border-2">
        <thead>
            <tr>
                <th>Enrollment Id</th>
                <th>Sport Name</th>
                <th>Mentor Name</th>
                <th>Fees</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Sports items in Model)
            {
                @*if(items.Enrollment_id == Context.Session.GetString("EnrollmentId"))
                {*@
                    
                <tr>
                    
                    <td>@items.Enrollment_id</td>
                    <td>@items.Sport_Name</td>
                    <td>@items.Mentor_name</td>
                    <td>@items.Fees</td>
                    <td>
                        <a asp-action="Delete" asp-controller="Sports" asp-route-enroll = "@items.Enrollment_id" class="btn btn-warning">Delete</a>
                        <a asp-action="Edit" asp-controller="Sports" asp-route-enroll = "@items.Enrollment_id" class="btn btn-warning">Edit</a>
                    </td>
                    </tr>
               @* }*@
            }
        </tbody>
    </table>
</div>
