@model SOAC_RKU.Models.Clubs
@{
    ViewData["Title"] = "ClubReg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 100px">

    <form style="margin: 30px" method="post" asp-action="ClubReg" asp-controller="Clubs">
        <div class="form-group mb-3">
            <label style="margin-left: 494px" asp-for="Enrollment_id" class="form-label">Enrollment Id</label>
            <center><input type="text" style="width:400px" asp-for="Enrollment_id" value="@Context.Session.GetString("EnrollmentId")" class="form-control" readonly /></center>
        </div>
        <div class="form-group mb-3">
            <label style="margin-left: 494px" asp-for="Club_name" class="form-label">Sport Name</label>
            <center><input type="text" style="width:400px" asp-for="Club_name" class="form-control" /></center>
        </div>
        <div class="form-group mb-3">
            <label style="margin-left: 494px" asp-for="Mentor_name" class="form-label">Mentor Name</label>
            <center><input type="text" style="width:400px" asp-for="Mentor_name" class="form-control" /></center>
        </div>
        <div class="form-group mb-3">
            <label style="margin-left: 494px" asp-for="Fees" class="form-label">Fees</label>
            <center>
                <input type="text" style="width:400px" asp-for="Fees" class="form-control" />
            </center>
        </div>


        <center><button type="submit" class="btn btn-danger">Register</button></center>

    </form>


    @*<table class="table">
    <thead>
    <tr>
    <th scope="col">Enrollment Id</th>
    <th scope="col">Sport Name</th>
    <th scope="col">Mentor Name</th>
    <th scope="col">Fees</th>
    <th scope="col">Edit Record</th>
    </tr>
    </thead>
    <tbody>
    @foreach(Sport item in Model)
    {
    <tr>
    <td>@item.Enrollment_Id</td>
    <td>@item.Sport_Name</td>
    <td>@item.Mentor_name</td>
    <td>@item.Fees</td>
    </tr>
    }
    </tbody>
    </table>*@
</div>

